<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="bar_logo">
                <img class="logo" src="/image/logo-mercado-liebre.svg" alt="">
                <input type="text" placeholder="Buscar productos, marcas y más">
                <i class="fa fa-search"></i>
            </div>
            
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburguer-buttom">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="http://localhost:3006/registro">Creá tu ceunta <i class="fas fa-id-card"></i></a></li></a></li>
                <li><a href="http://localhost:3006/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li></a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="login_container">
            <form action="/login" method="POST" class="login_box">
                <div class="form_control">
                    <input type="text" name="usuario" placeholder="Nombre de usuario" class="control">
                </div>
                <div class="form_control">
                    <input type="password" name="contrasena" placeholder="Eligí tu sontraseña" class="control">
                </div>
                <div class="buttons">
                    <button type="submit" class="buttom_form">Enviar</button>
                    <a href="http://localhost:3006/"><button type="button">Regresar</button></a>
                </div>
                
            </form>
        </div>        
    </main>


    <footer>
        <div class="footer_container">
            <article class="footer_article">
                <div class="footer_icon"><i class="fas fa-credit-card"></i></div>            
                <div class="footer_content">                
                    <b class="footer_title">Pagá con tarjeta o en efectivo</b>
                    <p class="footer_description">Con mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </article>
            <article class="footer_article">
                <div class="footer_icon"><i class="fas fa-gift"></i></div>            
                <div class="footer_content">                
                    <b class="footer_title">Envío gratis desde $2.500</b>
                    <p class="footer_description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </article>
            <article class="footer_article">
                <div class="footer_icon"><i class="fas fa-user-shield"></i></div>            
                <div class="footer_content">                
                    <b class="footer_title">Seguridad, de principio a fin</b>
                    <p class="footer_description">¿No te gusta? ¡Devolvelo! En Mercado Liebre. no hay nada que no puedas hacer, porque estás simepre protegid@.</p>
                </div>
            </article>
        </div>
        
        <div class="copyright">
            <p>Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
        </div>
    </footer>

</body>
</html>