/*
â— Paleta de colores
    Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
/*-----HEADER-----*/
.main-header {
    background-color: #eac926;
    padding: 20px;
}
.main-header-top-bar input {
    border: none;
    max-width: 50%;
    border-radius: 8px;
    height: 40px;    
}
.bar_logo {
    display: flex;
    align-items: center;
}
.bar_logo i {
    background-color: white;
    height: 40px;
    font-size: 20px;
}
.hamburguer-buttom {
    background-color: #03264c;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo {
    width: 50%;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
/*----------*/

/*-----MAIN-----*/
main {
    background-color: #ebebeb;
    margin-left: 1%;
    margin-right: 1%;
}
/*main {
    /*background-color: #ebebeb;
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}*/
.title {
    color: #666;
    font-size: 24px;
    text-align: left;
}
.container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    /*max-width: 800px;*/
    margin: auto;
    text-align: center;
}
.container img{
    margin: 0 5px;
    width: 90%;
}
.article_content {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.general_box {
    background-color: white;
    width: 90%;
    max-width: 280px;
    margin-bottom: 10px;
    padding: 5px 0;
    transition: 450ms;
    
}
.general_box:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.product_info > div {
    display: flex;
}
.product_info {
    border-top: 1px solid #ebebeb;
    text-align: left;
       
    position: relative;
    margin: 15px;
}
.send_icon {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 450ms;
}
.send_icon:hover {
    transform: rotate(-90deg);
}
.price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.discount {
    font-size: 16px;
    color: #39b54a;
    font-weight: 700;
    flex-grow: 0.7;
    align-self: center;
    margin-left: 10px;
    margin-top: 15px;
}
.description {
    font-size: 16px;
    color: #666;
    margin-top: 25px;
}
/*----------*/

/*-----FOOTER-----*/
.footer_article {
    margin-top: 30px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.footer_icon {
    text-align: center;
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition: 540ms;
}
.footer_icon:hover {
    color: #e91d0a;
}
.footer_description {
    font-size: 12px;
    margin-top: 0px;
}
.copyright {
    text-align: left;
    margin-left: 20px;
}
/*----------*/
@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 300px;
        text-align: right;
    }
    .hamburguer-buttom {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin:  0 5px;
    }
    .footer_container {
        display: flex;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 250px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar {
        margin-top: 40px;
    }
    .main-navbar li {
        margin:  0 10px;
    }
    .main-navbar a {
        font-size:  19px;
    }
}


@media (min-width: 320px) {
    .description {
        display: none;
    }
}
@media (min-width: 766px) {
    .description {
        display: block;
    }
    .general_box {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 1438px) {
    .footer_article {
        max-width: 420px;
    }
}